@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");
* {
  font-family: "Fredoka", sans-serif;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  background-color: #f8f9fa;
}
.hero-img {
  flex: 1;
  width: 50%;
  height: 100%;
}
.hero-img img {
  width: 100%;
}
.hero-content {
  flex: 1;
  padding: 2rem;
  text-align: center;
}

.hero h1 {
  text-align: left;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  background-image: linear-gradient(to right, darkviolet, rgb(33, 20, 44));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero p {
  text-align: left;
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
  background-image: linear-gradient(to right, rgb(18, 12, 20), rgb(33, 20, 44));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container-button {
  display: flex;
  width: 100%;
}

.container-button a {
  text-decoration: none;
  color: darkslategrey;
  font-weight: 400;
  font-size: 1.2em;
  width: 30%;
  padding: 7px;
  border-radius: 50px;
  border: 1px solid lightblue;
  transition: all 0.7s;
}
.container-button a:hover {
  color: #fff;
  background: rgba(46, 14, 65, 0.685);
}
body {
  height: 100vh;
}
